<h1>Schools</h1>

<%= @schools.each do |school| %>
	<h2><%= school.name %></h2>
	<% school.students.each do |student| %>
		<div class="student">
			<h3><%= student.name %></h3>
			<p><%= image_tag(student.image) %></p>
		</div>
	<% end %>
<% end %>